@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
    font-family: "Roboto Flex", roboto, system-ui;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
    font-size: large;
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
}

a:link,
a:visited {
    color: rgb(75, 0, 0);
}
